* {
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
  /* width of screen */
  max-width: 880px;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to right,
    rgb(240, 152, 146) 0%,
    rgb(240, 152, 146) 27%,
    rgb(146, 240, 240) 27%,
    rgb(146, 240, 240) 100%
  );
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.name {
  padding-left: 50px;
}

h2 {
  margin: 0;
  padding: 0;
  color: rgb(27, 8, 51);
  font-size: 18px;
}

ul {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.line {
  margin: 0 0 0 20px;
  padding: 0;
}

.break {
  max-width: 600px;
}

.icon {
  /* border-radius: 70%; */
}

.photo {
  box-shadow: -12px 35px 32px 0px rgba(0, 0, 0, 0.75);
}

.text {
  /* line-height: 16px; */
}

.title {
  font-size: 22px;
  margin: 0 0 0 20px;
  padding: 0;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 70px;
  margin-top: 6px;
}

.centered-text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.text-elem {
  height: 60px;
  margin: 0 0 0 20px;
  padding: 0;
}

.column {
  float: left;

  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}

.column-short {
  width: 27%;
  padding: 0;
  padding-left: 5px;
}

.column-long {
  width: 73%;
  padding: 0;
  padding-left: 5px;
}

.column-middle {
  width: 48%;
  padding: 0;
  padding-left: 5px;
}

.column-right {
  width: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.margin {
  height: 20px;
}
